.Logo {
    height: 100px;
    width: 300px;
    transform: rotate(-20deg);
    position: relative;
    top: 20px;

}

.headerM {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 550px;
}

.buttons {
    padding:5px;
}

#pokeInfo {
    margin: auto;
    position: fixed;
    left: 400px;
    top: 300px;
    width: 50%;
    padding: 10px;
    background-color: black;
    color:white;
}

body {
    background-image: url("https://wallpapercave.com/wp/cqhO8rQ.jpg");
    background-position: 25%;
}

