.Logo {
    height: 100px;
    width: 300px;
    transform: rotate(-20deg);
    position: relative;
    top: 20px;

}

.headerM {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 550px;
}

.buttons {
    font-family: "Verdana", sans-serif;
    padding:5px;

}

#pokeInfo {
    margin: auto;
    border-radius: 25px;
    position: fixed;
    left: 400px;
    top: 300px;
    width: 25%;
    padding: 10px;
    background-image: radial-gradient( yellow, #ff9933, #e6e600);;
    background-color: #e6e600;
    color: black;
    font-family: "Verdana", sans-serif;
    font-style: oblique;
    opacity: 0.9;
}

body {
    background-image: url("https://wallpapercave.com/wp/cqhO8rQ.jpg");
    background-position: 25%;
}

